.error {
    color: red;
}

.header-container {
    width: 100%;
    background-color: #82a7c9;

}

.header-container a {
    color: rgba(255, 255, 255, 0.8);
}

.header-container a:hover {
    color: #ffffff;
    background-color: transparent;
}

.navbar-inverse {
    background-color: #82a7c9;
    border-color: #1c73a5;
}

.navbar-inverse .navbar-nav > li > a {
    color: rgba(255, 255, 255, 0.8);
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #ffffff;
    background-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: transparent;
}

.main-content-wrapper {
    margin: 20px 5px;
}

.main-content {

}

/* NewsFeed */
.news-feed {
    margin-left: 5px;
}

.care-plan {
    margin-right: 5px;
}

.my-clinic {
    width: 280px;
    margin-left: -30px;
}

.my-clinic .card-title h5 {
    color: black;
}

.profile-image {
    width: 130px;
}

.profile-image-subtitle {
    color: white;
    text-align: center;
}

.linked-account-item .name {
    text-align: center;
}

.linked-account-item .child-img {
    width: 50px;
}

.linked-account-item .adult-img {
    width: 75px;
}

.linked-accounts .card {
    background-color: transparent;
    border: none;
    color: white;
    text-decoration: none;
}

.linked-accounts .card-block {
    padding-top: 10px;
}

/* MyClinic */
.my-clinic .card {
    opacity: 0.85;
}

.my-prescriptions {
    margin-top: 20px;
}

.my-prescriptions table {
    width: 100%;
}

.my-prescriptions td:first-child {
    width: 40%;
}

.my-prescriptions td:last-child {
    width: 20%;
    text-align: center;
}

