.error {
    color: red;
}

.header-container {
    width: 100%;
    background-color: #3097d1;

}

.header-container a {
    color: rgba(255, 255, 255, 0.8);
}

.header-container a:hover {
    color: #ffffff;
    background-color: transparent;
}

.navbar-inverse {
    background-color: #3097d1;
    border-color: #1c73a5;
}

.navbar-inverse .navbar-nav > li > a {
    color: rgba(255, 255, 255, 0.8);
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #ffffff;
    background-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: transparent;
}